
@{
}

@using PatientManagementApp.Web.ViewModels.PractitionerViewModels;
@using static PatientManagementApp.Common.ModelValidationConstraints.Global
@using PatientManagementApp.Web.ViewModels.AppointmentViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PatientManagementApp.Web.ViewModels.PractitionerViewModels.PractitionerDetailsViewModel

<h2>@Model.FirstName @Model.LastName</h2>

<p><strong>Phone Number:</strong> @Model.Phone</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Specialties:</strong> </p>
@if (Model.Specialties.Any())
{
    <ul>
        @foreach (var specialty in Model.Specialties)
        {
            <li>@specialty</li>
        }
    </ul>
}
else
{
    <p>No specialties listed.</p>
}


<h3>Appointments</h3>
@if (Model.Appointments.Any())
{
    <ul class="list-group">
        @foreach (AppointmentInfoViewModel a in Model.Appointments)
        {
            <li class="list-group-item">
                <strong>@a.PatientFirstName @a.PatientLastName</strong><br />
                <small>Time: @a.StartDateTime</small>
            </li>
        }
    </ul>
}
else
{
    <p>No appointments scheduled.</p>
}

<a asp-controller="Appointment" asp-action="Create" asp-route-practitionerId="@Model.Id" class="btn btn-primary">Create Appointment</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>


