
@{
    ViewBag.Title = "Appointment Details";
}

@using PatientManagementApp.Web.ViewModels.AppointmentViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppointmentInfoViewModel

<h2>Appointment Details</h2>

<p><strong>Patient:</strong> @Model.PatientFirstName @Model.PatientLastName</p>
<p><strong>Start:</strong> @Model.StartDateTime</p>
<p><strong>End:</strong> @Model.EndDateTime</p>
<p><strong>Description:</strong> @Model.Description </p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
<a asp-action="Index" class="btn btn-primary">Back to All Appointments</a>
