
@{
    ViewBag.Title = "Appointment Details";
}

@using PatientManagementApp.Web.ViewModels.AppointmentViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppointmentInfoViewModel

<h2 class="text-center">@ViewBag.Title</h2>

<p><strong>Patient:</strong> @Model.PatientFirstName @Model.PatientLastName</p>
<p><strong>Start:</strong> @Model.StartDate</p>
<p><strong>End:</strong> @Model.EndDate</p>
<p><strong>Description:</strong> @Model.Description </p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

<a asp-action="Index" class="btn btn-primary">Back to All Appointments</a>

