@{
    ViewBag.Title = "Patient Details";
}

@using PatientManagementApp.Web.ViewModels.PatientViewModels;
@model PatientDetailsViewModel;

<div class="container bg-muted-blue p-4">
    <h2 class="text-center mt-4 mb-4 text-dark">@ViewBag.Title</h2>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark-blue text-white">
            <h3 class="card-title text-center">@Model.FirstName @Model.LastName</h3>
        </div>
        <div class="card-body">
            <h5 class="card-subtitle mb-3 text-muted">General Information</h5>
            <p><strong>Age:</strong> @Model.Age</p>
            <p><strong>Gender:</strong> @Model.Gender</p>

            <h5 class="card-subtitle mt-4 mb-3 text-muted">Treatment</h5>
            <p><strong>Status:</strong> <span class="badge bg-muted-dark-blue text-white">@Model.Status</span></p>
            <p><strong>Treatment Start:</strong> @Model.TreatmentStartDate</p>
            <p><strong>Treatment End:</strong> @Model.TreatmentEndDate</p>
            <p><strong>Referred by:</strong> @Model.ReferredBy</p>
            <p><strong>Reason for Visit:</strong> @Model.ReasonForVisit</p>
            <p><strong>Important Information:</strong> <span class="text-danger">@Model.ImportantInfo</span></p>
            <p><strong>Diagnosis:</strong> @Model.Diagnosis</p>

            <h5 class="card-subtitle mt-4 mb-3 text-muted">Contact Information</h5>
            <p><strong>Phone:</strong> @Model.PhoneNumber</p>
            <p><strong>Email:</strong> @Model.Email</p>

            <h5 class="card-subtitle mt-4 mb-3 text-muted">Emergency Contact</h5>
            <p><strong>Name:</strong> @Model.EmergencyContactName</p>
            <p><strong>Phone:</strong> @Model.EmergencyContactPhoneNumber</p>
            <p><strong>Relation:</strong> @Model.EmergencyContactRelationship</p>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i> Delete
        </a>
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Back to All Patients
        </a>
    </div>
</div>
